@model IEnumerable<WebAppCarRental.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-action="Create">Create New</a></li>
        <li><a asp-action="Filter" asp-route-str="Fo">Filter</a></li>
        <li><a asp-action="">Reserve</a></li>
        <li><a asp-action="">Reserve</a></li>
    </ul>
    @await Html.PartialAsync("_LoginPartial")
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Typ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RokProdukcji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wyposazenie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenaZaDzien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spalanie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Marka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Typ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RokProdukcji)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wyposazenie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CenaZaDzien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spalanie)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
